<hr>
<P>
<font size="4" style="font-size: 14pt"><b>Medical information
disclaimer</b></font></p>
<p><b>1.	Credit</b></p>
<p style="margin-left: 0.42in; text-indent: -0.42in">1.1	This
document was created using a template from SEQ Legal
(<a href="https://seqlegal.com/"><font color="#0000ff"><u>https://seqlegal.com</u></font></a>).</p>
<p class="western"><i>You must retain the above credit. Use of this
document without the credit is an infringement of copyright. However,
you can purchase from us an equivalent document that does not include
the credit.</i></p>
<p><b>2.	No advice</b></p>
<p style="margin-left: 0.42in; text-indent: -0.42in">2.1	Our website
contains general medical information.</p>
<p style="margin-left: 0.42in; text-indent: -0.42in">2.2	The medical
information is not advice and should not be treated as such.</p>
<p><b>3.	No warranties</b></p>
<p style="margin-left: 0.42in; text-indent: -0.42in">3.1	The medical
information on our website is provided without any representations or
warranties, express or implied.</p>
<p style="margin-left: 0.42in; text-indent: -0.42in">3.2	Without
limiting the scope of Section 3.1, we do not warrant or represent
that the medical information on this website:</p>
<p style="margin-left: 0.83in; text-indent: -0.42in">(a)	will be
constantly available, or available at all; or</p>
<p style="margin-left: 0.83in; text-indent: -0.42in">(b)	is true,
accurate, complete, current or non-misleading.</p>
<p><b>4.	Medical assistance</b></p>
<p style="margin-left: 0.42in; text-indent: -0.42in">4.1	You must not
rely on the information on our website as an alternative to medical
advice from your doctor or other professional healthcare provider.</p>
<p style="margin-left: 0.42in; text-indent: -0.42in">4.2	If you have
any specific questions about any medical matter, you should consult
your doctor or other professional healthcare provider.</p>
<p style="margin-left: 0.42in; text-indent: -0.42in">4.3	If you think
you may be suffering from any medical condition, you should seek
immediate medical attention.</p>
<p style="margin-left: 0.42in; text-indent: -0.42in">4.4	You should
never delay seeking medical advice, disregard medical advice or
discontinue medical treatment because of information on our website.</p>
<p><b>5.	Interactive features</b></p>
<p style="margin-left: 0.42in; text-indent: -0.42in">5.1	Our website
includes interactive features that allow users to communicate with
us.</p>
<p style="margin-left: 0.42in; text-indent: -0.42in">5.2	You
acknowledge that, because of the limited nature of communication
through our website's interactive features, any assistance you may
receive using any such features is likely to be incomplete and may
even be misleading.</p>
<p style="margin-left: 0.42in; text-indent: -0.42in">5.3	Any
assistance you may receive using any our website's interactive
features does not constitute specific advice and accordingly should
not be relied upon without further independent confirmation.</p>
<p><b>6.	Limits upon exclusions of liability</b></p>
<p style="margin-left: 0.42in; text-indent: -0.42in">6.1	Nothing in
this disclaimer will:</p>
<p style="margin-left: 0.83in; text-indent: -0.42in">(a)	limit or
exclude any liability for death or personal injury resulting from
negligence;</p>
<p style="margin-left: 0.83in; text-indent: -0.42in">(b)	limit or
exclude any liability for fraud or fraudulent misrepresentation;</p>
<p style="margin-left: 0.83in; text-indent: -0.42in">(c)	limit any
liabilities in any way that is not permitted under applicable law; or</p>
<p style="margin-left: 0.83in; text-indent: -0.42in">(d)	exclude any
liabilities that may not be excluded under applicable law.</p>
</P>
